.button {
    width: 150px;
    height: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    left: 2rem;
    top: 2rem;
    padding: 10px;
    cursor: pointer;
  }
  .button p {
    display: none;
    color: white;
    margin: 0px;
    text-transform: uppercase;
    transition: color 0.5s;
  }
  .button svg {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .button svg line {
    transition: stroke 0.5s;
  }
  .button .background {
    background-color: #DCEA88;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 0;
    transition: height 0.3s;
  }
  .button:hover p {
    color: black;
  }
  .button:hover svg line {
    stroke: black;
  }
  .button:hover .background {
    height: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    .button {
      height: 120px;
    }
    .button p {
      display: block;
    }
  }

 
