.main_intro {
    margin-top: -7vw;
}

.main_intro .draw_tall {
    width: 20%;
    margin-left: -8vw;
    position: relative;
    z-index: 99;
    margin-bottom: -6vw;
}

.main_intro .intro_word {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.main_intro .intro_word ul {
    text-align: center;
    margin-top: -8rem;
}

.main_intro .intro_word ul span {
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    display: block;
}

.main_intro .intro_word ul li {
    font-size: 3.5vw;
    letter-spacing: -0.1vw;
}

.main_intro .intro_text {
    text-align: center;
}

.main_intro .intro_text h3 {
    font-size: 15.5vw;
    margin-top: -2vw;
}

.main_intro .intro_text p.en {
    font-size: 12vw;
    margin-top: -6.5vw;
}

.main_intro .intro_text p.ko {
    font-weight: 300;
    line-height: 1.5;
    margin: 2.5vw 0;
    font-size: 0.9vw;
    font-family: var(--main-ko-light);
}

.main_intro .intro_text .add_text {
    line-height: 1.5;
    font-weight: 500;
    font-size: 0.8vw;
}

.main_intro .intro_text a {
    display: block;
    font-size: 0.8vw;
}

@media (max-width: 1650px) {}


@media (max-width: 1495px) {}

@media(max-width: 800px) {
    .main_intro .intro_word ul li {
        font-size: 4.5vw;
    }

    .main_intro .intro_word ul span {
        font-size: 1.5vw;
        margin-bottom: 2vw;
    }

    .main_intro .draw_tall {
        width: 27%;
        margin-left: -10vw;
    }

    .main_intro .intro_text h3 {
        font-size: 21vw;
    }

    .main_intro .intro_text p.en {
        font-size: 18vw;
        margin-top: -10.5vw;
    }

    .main_intro .intro_text p.ko {
        margin: 3.5vw 0;
        font-size: 1.5vw;
    }

    .main_intro .intro_text .add_text {
        font-size: 1.3vw;
    }

    .main_intro .intro_text a {
        font-size: 1.4vw;
    }
}

@media(max-width: 650px) {


    .main_intro {
        margin-top: 14vw;
    }

    .main_intro .intro_word ul span {
        font-size: 2.2vw;
        margin-bottom: 3vw;
    }

    .main_intro .intro_word ul li {
        font-size: 5.5vw;
    }

    .main_intro .draw_tall {
        width: 34%;
        margin-bottom: -15vw;
    }

    .main_intro .intro_text h3 {
        font-size: 26vw;
    }

    .main_intro .intro_text p.en {
        font-size: 22vw;
        margin-top: -11.5vw;
    }

    .main_intro .intro_text p.ko {
        font-size: 3vw;
        margin: 4vw auto;
        width: 90%;
    }

    .main_intro .intro_text p.ko br {
        display: none;
    }

    .main_intro .intro_text .add_text {
        font-size: 2.3vw;
    }

    .main_intro .intro_text a {
        font-size: 2.9vw;
    }

}