body {
    --bg-color: #192928;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: var(--main-en);
    text-transform: uppercase;
    overflow-x: hidden;
    line-height: 0.9;
}

/* html, body {
    overflow-x: hidden;
} */

/* @media (max-width: 600px) {

    html,
    body {
        overflow-x: hidden;
    }
} */