:root {
    --main-en: 'Bebas Neue';
    --main-logo: 'Zen Dots';
    --sub-en: 'Qwitcher Grypen';
    --sub-en2: 'Cinzel';
    --main-ko: 'GmarketSans';
    --main-ko-light: 'GmarketSansLight';

    --main-color: #DCEA88;
    --sub-color: #88EAD2;
    --mainBg-color: #192928;
    --subBg-color: #08212F;

    --black: #000;
    --white: #fff;

    --black100: #333;
    --black200: #555;
    --black300: #777;
    --black400: #999;
    --black500: #d7d7d7;
    --black600: #e8e8e8;


    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}